
@import '../../framework/scss/variables';
.progress-tracker {
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin-top: 10px;
    @media screen and ( max-width: 767px ) {
        margin-top: 0px;
    }
    .overview {

        h2 {
            font-size: 68px;
            font-family: $roboto;
            font-weight: 300;
            @media screen and ( max-width: 767px ) {
                font-size: 34px;
            }
        }

        .level-text  {
            font-size: 26px;
            font-weight: 400;
            font-family: 'Roboto';
            @media screen and ( max-width: 767px ) {
                font-size: 16px;
            }

        }

        .award-header {
            margin-bottom: 8px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 48px;
            @media screen and ( max-width: 767px ) {
                font-size: 13px;
                margin-top: 24px;
            }
        }

        .award-amount {
            font-size: 42px;
            font-weight: 700;
            font-family: 'Roboto Slab', sans-serif;
            @media screen and ( max-width: 767px ) {
                font-size: 26px;
            }

        }
    }

    .progress-graph {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .VictoryContainer {
            svg {
                overflow: visible;
            }
        }

        .goal-label {
            font-size: 16px;
            font-family: 'Roboto Slab';
            color: #996300;
            svg {
                fill: #996300;
                text{
                    fill: #996300;
                    font-size: 12px;
                }
            }
        }
        .keys {
            display: flex;
            justify-content: center;
            padding-left: 35px;
            .key {
                float: left;
                margin-right: 20px;
                svg {
                    height: 10px;
                    width: 40px;
                    @media screen and (max-width: 768px) {
                        height: 8px;
                        width: 30px;

                    }
                }
                .key-label {
                    fill: #353a40;
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 5px;
                    @media screen and (max-width: 768px) {
                        font-size: 8px;
                    }
                }
                line {
                    stroke-width: 5px;
                }
            }
        }
        .progress-line {
            stroke: $white;
          }

        .goal-line {
          svg {
            stroke: $graphGoalPaceLine;
          }
        }

        .data-point-inner {
            cursor: pointer;
            fill: $graphDataPointInnerCircle;
        }

        .data-point-inner-touch {
            fill: $transparent;
        }

        .data-point-outer {
            fill: $graphDataPointOutterCircle;
        }


        .axis title {
            color: $white;
        }

        .data-hover {
            fill: $graphHoverBackground;
        }

        .hover-pointer {
            fill: $graphHoverBackground;
        }

        .data-hover-text {
            fill: $white;
        }

        .data-hover-subtext {
            fill: $white;
        }

        .progress-shading {
            fill: $progressShading;
        }
    }
}
