@import 'tiles/mixins';

.dashboard-wrapper {

    width: 900px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    min-height: 600px;
    @media screen and ( max-width: 900px ) {
        width: 98%;
        padding: 10px;
    }

    @media screen and ( max-width: 440px ) {
        padding: 0px;
    }
}

.dashboard-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.single-tile {
        justify-content: center;
    }
    .dashboard-list-item-wrapper {
        display: inline-flex;
        flex: 0 0 50%;
        max-width: 50%; // need this here for ie 11
        padding: 8px;

        &.single {
            flex: 0 0 100%;
            max-width: 768px;
            padding: 8px 0 8px 0;
        }

        @media screen and (max-width: 768px) {
            max-width: 100%; // need this here for ie 11
            flex: 1 1 100%;
            padding: 8px 0 8px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 8px 16px;
        }
    }

    .dashboard-list-item {
        position: relative;
        border-radius: 10px 10px 0 0;
        flex: 1 1 50%;
        width: 100%;
    }
}
