@import './tiles/mixins';
@import './tiles/variables';
.dashboard-tile {
    box-shadow: 0 5px 5px -5px #333;
    border-radius: 10px;
    background: $white;
    color: $dashboard-text-color;
    font-family: $roboto;
    font-size: 12px;
    width: 100%;
}

/* Middle Section */

.dashboard-tile-content-wrap {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    @media screen and ( max-width: 767px ) {
        padding: 24px;
    }
    &> div {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .dashboard-progress-meter.inverted & {
        margin-bottom: 0;
    }

    &.progress-wrap {
        padding-bottom: 20px
    }

    .updated {
        font-size: 10px;
        color: $dashboard-grey-medium;
        text-transform: uppercase;
        width: 100%;

        @media screen and ( max-width: 480px ) {
            left: 20px;
        }
    }

    @media screen and ( max-width: 320px ) {
        padding: 24px 24px;

    }

    .program-name {
        font-family: $roboto;
        font-weight: 700;
        font-size: 16px;
        padding: 0 24px 0 0;
        width: 100%;
        display: block;

        .dashboard-list-item-wrapper.single & {
            margin-bottom: 0px;
            padding: 24px 24px 0 0;
            width: 30%;
            display: inline-flex;
            word-break: break-word;
        }
    }

    /* Goal Status Message */
    .no-goal-selected-message {
        text-align: left;
        color: $dashboard-text-color;
        font-family: $roboto;
        width: 100%;

        h2 {
            margin: 24px 0 16px 0;

            span {
                font-size: 26px;
            }
        }

        p {
            font-size: 16px;
            line-height: 20px;
        }
    }


    &.dashboard-final-results {

        .status-message-container {
            position: relative;
            width: 90%;

            .dashboard-list-item-wrapper.single & {
                display: inline-block;
                width: 70%;
            }

        }

        .you-earned {
            text-transform: uppercase;
            color: $dashboard-text-color;
            font-family: $roboto;
            font-size: 13px;
        }

        .did-not-earn {
            color: $dashboard-red;
            font-size: 26px;
            font-weight: 400;
        }

        .sub-message-green, .sub-message-black {
            font-size: 16px;
            font-weight: 700;
            margin-top: 5px;
        }

        .sub-message-green {
            color: $dashboard-green;
        }

        .sub-message-black {
            color: $dashboard-text-color;
        }

        .status-points {
            font-family: $robotoSlab;
            font-weight: 700;
            font-size: 55px;
            color: $dashboard-text-color;
        }

        .status-label {
            font-family: $robotoSlab;
            font-size: 21px;
            line-height: 21px;
            color: $dashboard-text-color;
        }

        .status-icon {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 50%;
            transform: translateY(-35px);
            transition: all 0.3s ease;
        }

        .status-messages {
            display: inline-block;
            position: relative;
            left: 0;
            padding-left: 80px;

            .point-container {
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
            }
        }
    }
}

.dashboard-tile-loading {
    height: 392px;
    overflow: hidden;
    position: relative;
    background: $dashboard-light-grey;

    .box {
        background: $white;
        border-top: $dashboard-grey;
        border-top-width: 1px;
        border-top-style: solid;
        position: absolute;
        top: 113px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @keyframes placeHolderShimmer{
        0%{
            background-position: -1168px 0
        }
        100%{
            background-position: 1168px 0
        }
    }

    .shimmer {
        overflow: hidden;
        margin: 40px;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 1200px 104px;
        height: calc(392px - 113px - 80px);
        position: relative;
        .shimmer-mask {
            background: $white;
            width: 100%;
            position: absolute;
            height: 10px;
        }
        .mask-1 {
            margin-left: 300px;
            top: 0px;
        }
        .mask-2 {
            margin-top: 10px;
            height: 47px;
        }
        .shimmer-1 {
            margin-top: 68px;
            height: 20px;
        }
        .shimmer-2 {
            margin-top: 100px;
            height: 20px;
        }
        .shimmer-3 {
            margin-top: 132px;
            height: 43px;
        }
        .shimmer-4 {
            margin-top: 186px;
            height: 43px;
        }
    }
}
