@import '../../framework/scss/variables';

.progress-details {
    padding: 0 24px 24px 24px;
    background: $lightGrey;

    .content {
        text-align: left;
        @media screen and (max-width: 768px) {
            text-align: left;
         }
    }

    .details-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 24px;
        border-top: 1px solid $greyLight;
        padding-top: 24px;
        width: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            justify-content: space-evenly;
            text-align: left;
        }
    }

    .progress-info {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding: 0 0 24px 0px;
        margin-right: 10px;
        @media screen and (max-width: 768px) {
           padding: 0;
           margin-top: 24px;
           text-align: left;
        }


    h1 {
        padding: 5px 0 5px 0;

        text-transform: uppercase;
        padding: 24px 0 5px 0;
        font-weight: 300;
        font-size: 16px;
        @media screen and (max-width: 768px) {
            font-size: 13px;
            text-align: left;
        }
    }
    h3 {
        padding: 24px 0 5px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;
        @media screen and (max-width: 767px) {
            font-size: 13px;
        }
    }
}
    .status {
        display: flex;
        flex: 1 1 auto;
        font-size: 64px;
        font-weight: 700;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 700;
        line-height: 100%;
        @media screen and (max-width: 767px) {
            font-size: 40px;
            text-align: left;
            justify-content: left;
        }

        @media screen and (max-width: 480px) {
            line-height: 100%;
            font-size: 32px;
            justify-content: left;
        }
    }

    .extra-details {
        display: block;

    }
    .base-earnings {
        padding: 24px 0 24px 0;
        border-top: 1px solid #d6d6d6;
        text-align: left;
        .base-earning {
            margin-bottom: 24px;

            .structure-progress {
                width: 100%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                border-right: none;
                margin-right: 0px;
            }
        }
    }


    .minimum-qualifier-info {
        text-align: left;
        font-size: 21px;
        font-weight: 400;
        font-family: $roboto;
        padding: 24px 0 24px 0;
        line-height: 1.5;
        border-top: 1px solid #d6d6d6;
        h1 {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300;
            font-family: $roboto;
        }
    }

    .award-wrapper {
        padding: 24px 0 40px 0;
        border-top: 1px solid $greyLight;
        text-align: left;
        @media screen and (max-width: 768px) {
            padding-bottom: 20px;
        }
        .structure-info{
            h6{
                text-transform: none;
            }
            .structure-progress {
                display: inline-block;
                font-size: 21px;
            }
            .goal-label-amount {
                margin-left: -6px;
            }
        }

    }
    .final-result-structure-info {
        text-align: left;

        h1 {
            padding: 5px 0 5px 0;

            text-transform: uppercase;
            padding: 24px 0 5px 0;
            font-weight: 300;
            font-size: 16px;
            @media screen and (max-width: 768px) {
                font-size: 13px;
                text-align: left;
            }
        }

        .goal-label-currency-symbol,
        .goal-label-amount {
            font-size: 21px;
            font-weight: 700;
            font-family: 'Roboto Slab', sans-serif;
            line-height: 1.5;
            text-align: left;
        }

        .goal-label-text {
            display: inline;
            font-size: 21px;
            font-weight: 700;
            text-align: left;

        }

    }
    .goal-label {
        font-size: 21px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;

    }

    .per-period {
        font-size: 16px;
        line-height: 1.5;
    }

    .amount-display {
        font-size: 21px;
        font-weight: 700;
    }

    .accelerator-info {
        padding: 24px 0 40px 0;
        line-height: 1.5;
        font-weight: 700;
        text-align: left;
        & > div {
            display: inline-block;
        }

        h6 {
            font-size: 21px;
        }
    }

    .achieved {
        color: $achieved;
        font-size: 16px;
        font-weight: 700;
    }

    .not-achieved {
        color: $getGoing;
        font-size: 16px;
        font-weight: 700;
    }
}




