@import '../../framework/scss/variables';
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//                FLOATING INPUT LABEL
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.activation-active-section{
    .main-content {
      background: $white;
    }
  }
  .activation {
    &.narrow-form-page {
      min-height: calc(100vh - 200px);
    }
    .password-container {
      border-color: #d6d6d6;

      .password-rules-container.error {
        background: $light-pink;
        border-color: $red;
      }
      .password-rules-container.success {
        background: $greenLight;
        border-color: $blue;
      }

    // password field style toggles

      .password-field {
        border-color: $blue;
      }
      .password-field.success {
        background: $greenLight;
        border-color: $blue;
      }

      .password-field.error {
        background: $light-pink;
        border-color: $red;
      }
    }

    .control-label {
        position: absolute;
        top: -18px;
        margin-left: 12px;
        font-size: 16px;
        color: $greyDark;
        pointer-events: none;
        transform: translate3d( 0px, 34px, 0 ) scale( 1 );
        transform-origin: 0px 10px;
        transition: 240ms;
    }

    %input-label {
        opacity: 1;
        transform: scale( 0.75 );
        font-weight: bold;
        color: $greyDark;
        text-transform: uppercase;
    }

    .input-wrap {
        display: block;
        &.focused, &.focusedText {
            .control-label {
                @extend %input-label
            }
        }
        .gq-input:focus ~ .control-label,
        .control-label.has-value {
            @extend %input-label
        }
    }

    // these form-group rules can be replaced by the .input-wrap rules above
    // need to make sure usage in jsx is updated before removing these rules
    .form-group {
        &.focused {
            .control-label {
                @extend %input-label
            }
            .form-control {
                outline: $blue;
            }
        }
    }

    .form-control {
        border: 2px solid $blue;
    }

    .form-control.error {
        border: 2px solid $red;
    }




    .btn.disabled:hover,
    .btn[disabled]:hover,
    fieldset[disabled] .btn:hover {
      background: $blue;
      color: $white;
    }

    .btn-cancel {
      text-decoration: none;
      color: $blue;
      &:active {
        color: $blueDark;
      }
      &:hover {
        color: $blueDark;
      }
    }

    .alert-msg {
      background: $errorColor;
      color: $white;

      button.close span {
        color: $white;
      }

    }

  }