@import '../../variables';
.program-overview-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 100%;

    .program-overview-icon-container {
        width: 70px;
        min-width: 70px; // need width and min-width here for ie 11
        height: 70px;
        margin-right: 16px;

        .program-overview-icon {
            display: inline-flex;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 15px 0 0 15px;
            background: $dashboard-light-grey;

            svg {
                stroke: $dashboard-text-color;
                stroke-width: 3px;
                fill: none;
                width: 35px;                                                                                                                                                                                                                                                                             width: 40px;
                height: 35px;
            }

            &.objectives {
                padding: 10px 0 0 10px;

                svg {
                    fill: $dashboard-text-color;
                    stroke: none;
                    stroke-width: 0;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .dashboard-list-item-wrapper.single & {
        display: inline-flex;
        width: 70%;
    }

    .program-overview-copy {
        font-family: $roboto;
        font-size: 26px;
        color: $dashboard-text-color;
    }

    .program-overview-icon-wrap {
        width: 70px;
        height: 70px;
        margin-right: 16px;

        .program-overview-icon {
            display: inline-flex;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 15px 0 0 15px;
            background: $dashboard-light-grey;

            svg {
                stroke: $dashboard-text-color;
                stroke-width: 3px;
                fill: none;
                width: 35px;                                                                                                                                                                                                                                                                             width: 40px;
                height: 35px;
            }

            &.objectives {
                padding: 10px 0 0 10px;

                svg {
                    fill: $dashboard-text-color;
                    stroke: none;
                    stroke-width: 0;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}