@import '../../variables';

.meter-items {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    div {
        padding: 4px 0 4px 0;
        svg {
            width: 20px;
            height: 20px;
            stroke-width: 3px;
            fill: none;
            stroke: $dashboard-grey;
        }
    }
    .up-arrow svg {
        width: 13px;
        height: 13px;
        stroke-width: 3px;
    }
    .down-arrow svg {
        width: 13px;
        height: 13px;
        stroke-width: 3px;
    }
    .target svg {
        width: 25px;
        height: 25px;
        stroke: $dashboard-text-color;
    }

    &.on-track-goal {

        .happy svg  {
            stroke: $dashboard-green;
            width: 32px;
            height: 32px;
        }

        .up-arrow svg {
            stroke: $dashboard-text-color;
        }
    }

    &.not-on-track {

        .sad svg {
            stroke: $dashboard-red;
            stroke-width: 3px;
            width: 32px;
            height: 32px;
        }

        .down-arrow svg {
            stroke: $dashboard-text-color;
        }

    }

    &.inverted {
        flex-direction: column-reverse;

        &.on-track-goal {

            .up-arrow svg {
                stroke: $dashboard-grey;
            }

            .down-arrow svg {
                stroke: $dashboard-black;
            }
        }

        &.not-on-track {

            .up-arrow svg {
                stroke: $dashboard-black;
            }

            .down-arrow svg {
                stroke: $dashboard-grey;
            }
        }
    }

    @media screen and ( max-width: 320px ) {
        .not-on-track & {
            margin-top: 20px;
        }
    }
}
