@import '../../variables';

.dashboard-progress-meter {
    width: 100%;
    min-height: 145px;
    .dashboard-list-item-wrapper.single &  {
        width: 70%;
        display: inline-block;
    }

    .progress-meter-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .number-wrap {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        &.not-on-track {
            flex-direction: column-reverse;
            color: $dashboard-red;
            margin-top: 45px;
        }

        &.on-track-goal {
            flex-direction: column;
            color: $dashboard-green;
        }
    }

    &.inverted {

        .number-wrap {
            &.not-on-track {
                flex-direction: column;
                color: $dashboard-red;
                margin-top: 0px;
            }

            &.on-track-goal {
                margin-top: 40px;
                flex-direction: column-reverse;
                color: $dashboard-green;
            }
        }
    }

    .progress-number {
        padding: 10px 32px 10px 0;;
        .progress-goal-level-amount {
            display: flex;
            flex: 1;
            flex-direction: row;
        }

        .goal-label-amount {
            font-size: 55px;
            font-family: $robotoSlab;
        }

        .goal-label-currency-symbol {
            font-size: 55px;
            font-family: $robotoSlab;
        }

        .goal-label-text {
            font-family: $robotoSlab;
            font-size: 14px;
            line-height: 25px;
            color: $dashboard-text-color;
            display: block;
        }



    }

    .meter-items-wrap {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-68px);
        background: $dashboard-white;
        z-index: 2;

        &.on-track-goal {
            transform: translateY(-80px);
        }

        &.inverted {
            transform: translateY(-80px);
        }

    }

    .target-container {
        display: inline-block;
        padding-right: 32px;
        position: relative;
        .inverted &.not-on-track   {
            margin-top: 40px;
        }
    }

    .target-line {
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-1px);
        height: 2px;
        vertical-align: bottom;
        background-image: linear-gradient(to left, $dashboard-grey 33%, $dashboard-white 0);
        background-size: 20px 2px;
        z-index: 1;
    }

    .goal-achieve-amount {
        z-index: 2;
        position: relative;

        .achieve-amount {
            font-size: 25px;
            font-family: $robotoSlab;
            display: inline-flex;
            background: $dashboard-white;

            @media screen and ( max-width: 320px ) {
                display: flex;
              }
            color: $dashboard-text-color;

            .goal-label-currency-symbol {
                font-size: 25px;
                font-family: $robotoSlab;
            }
        }

        .goal-label{
            font-size: 14px;
            display: inline-flex;
            line-height: 25px;
            color: $dashboard-text-color;
        }

    }

}
