
@import 'variables.scss';
@import 'partials/forms.scss';

.login-active-section {
    .main-content {
        background:  $white;
    }
}

.login {
    &.narrow-form-page {
        min-height: calc(100vh - 200px);
    }
    h1 {
        color: greyLight;
    }

    .has-error {
        .gq-input {
            border-color: $errorColor;
            color: $errorColor;
            background: $errorColorInput;
        }

        label {
            color: $errorColor;
        }
    }

    .has-error .form-control {
        border-color: $errorColor;
        color: $errorColor;
        background: $errorColorInput;
    }

    .has-error label {
        color: $errorColor !important;
    }

    .login-input-label {
        color: greyLight;
    }

    .btn-submit {
        background: greyLight;
        color:$greyDark;

        &:active {
            background: greyLight;
            color: $greyDark;
        }
    }

    .btn.disabled:hover,
    .btn[disabled]:hover,
    fieldset[disabled] .btn:hover {
        background: greyLight;
        color: $greyDark;
    }



    .forgot-link {
        &:active {
            color:greyLightDark;
        }
    }

    .alert-msg {
        background: $errorColor;
        color: $greyDark;

        button.close span {
            color: $greyDark;
        }
    }

    .Select.language-selector {
        @extend .gq-input;
        overflow: hidden;
        padding: 0 10px 0 0;

        &.is-open {
            overflow: visible;
            border-radius: 6px 6px 0 0;
        }

        &.is-focused {
            border-color: greyLight;
        }

        &.is-disabled {
            background-color: $greyMid;
        }

        .Select-menu-outer {
            width: auto;
            left: -1px;
            right: -1px;
            border: 1px solid greyLight;
            border-top-color: #d6d6d6;
            border-radius: 0 0 6px 6px;
        }

        .Select-menu {
            border-radius: 0 0 6px 6px;
        }

        .Select-option {
            height: 46px;
            line-height: 32px;
            border-radius: 6px;
            &:first-of-type {
                border-radius: 0 0 6px 6px;
            }
        }

        .Select-control {
            padding: 0;
            border-radius: 6px;
        }
    }

    .forgot-link {
        position: absolute;
        top: -18px;
        right: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        border: none;
        &:hover,
        &:focus {
            border: none;
            outline: none;
            text-decoration: underline;
        }
    }

    .activation-line {
        margin: 8px 0 16px 0;
        font-size: 13px;
    }
}
