    @import '../../variables';

    /*  Footer */
    .dashboard-tile-footer {
        width: 100%;
        height: 70px;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
        background: $dashboard-footer-bg;
        border-top: $dashboard-footer-border-top;
        display: flex;
        justify-content: space-between;

        .footer-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 10px 40px;
            justify-content: space-between;
            @media screen and ( max-width: 767px ) {
                padding: 10px 24px;
            }
        }

        .footer-item {
            font-weight: 400;
            font-family: $roboto;
            flex: 1;
        }

        .copy {
            font-family: $roboto;
            color: $dashboard-text-color;
            font-weight: 700;
            font-size: 13px;
            margin-right: 10px;
        }

        .button-container {
            position: absolute;
            right: 40px;
            transform: translateY(-5px);
            @media screen and ( max-width: 767px ) {
                right: 24px;
            }
        }


        .action {
            border-radius: 5px;
            color: $white;
            background: $dashboard-footer-button-color;
            border: 0;
            outline: 0;
            padding: 15px 20px;
            font-weight: bold;

            @media screen and ( max-width: 480px ) {
                padding: 10px 15px;
            }

            &:hover {
                background: $dashboard-footer-button-hover;
            }

        }

    }

