@import '../../variables';

.dashboard-progress-bar {
    font-size: 16px;
    font-weight: 400;
    width: 100%;

    .dashboard-list-item-wrapper.single & {
        width: 70%;
        display: inline-block;
    }

    .progress-number {
        font-size: 55px;
        font-weight: normal;
        font-family: $robotoSlab;
        margin-right: 5px;

        .dashboard-list-item-wrapper.single & {
            font-size: 55px;
        }

        @media screen and ( min-width: 480px) and ( max-width: 900px) {
            font-size: 55px;
        }
    }

    .progress-bar {
        width: 100%;
        border-radius: 15px;
        height: 20px;
        background: $dashboard-grey;
        position: relative;
        margin: 20px 0 20px 0;
        padding: 0 3px;

        .progress-fill {
            height: 20px;
            position: absolute;
            border-radius: 15px;
            top: 0px;
            left: 0px;
            right: 0px;
            &.get-going { background-color: #c5021e; }
            &.stay-focused { background-color: #996300; }
            &.sorta { background-color: #0062f5; }
            &.on-track { background-color: #812ebc; }
            &.made-it { background-color: #277c38; }
        }

    }

    .progress-marker {
        position: relative;
        width: 1px;
        height: 23px;

        .cpd-icon {
            position: absolute;
            top: -20px;
            left: -11px;
            width: 25px;
            height: 19px;
            stroke: $dashboard-text-color;
            fill: $dashboard-white;
            stroke-width: 4px;
        }

        .progress-line {
            width: 3px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1.5;
            background: $dashboard-white;
            z-index: 99;
        }

        .on-track-number {
            position: absolute;
            bottom: -15px;
            left: -46px;
            width: 100px;
            color: $dashboard-text-color;
            text-align: center;
            font-family: $robotoSlab;
            font-size: 13px;
            font-weight: 700;
        }
    }
}
