@import '../../../variables';

.goal-count-container {
    font-family: $robotoSlab;
    font-weight: 700;
    font-size: 55px;

    .dashboard-list-item-wrapper.single & {
        display: inline-flex;
        width: 70%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .goal-type {
        font-size: 16px;
        color: $dashboard-grey-medium;
        font-family: $roboto;
        font-weight: 700;
        padding-top: 10px;
    }

    .goal-percentage {
        font-size: 26px;
        padding: 15px 0 0 15px;
    }

    &.with-final-results {
        font-size: 16px;
        padding-top: 5px;

        .goal-percentage {
            display: none;
        }

        .goal-count {
            display: inline;
        }

        .goal-type {
            display: inline;
            margin-left: 5px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
