@import '../../framework/scss/variables';

$headerHeight: 200px;
$pillbarHeight: 50px;
.progress-active-section {
    background: $white;
}
.progress {
    .final-results-banner h3 {
        font-weight: 700;
        font-family: 'Roboto Slab';
    }
    .has-view-height {
        min-height: calc( 100vh - #{ $pillbarHeight} );

        &:first-of-type {
            min-height: calc( 100vh - #{ $pillbarHeight} - #{ $headerHeight} );
        }
    }

    .content {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        color: $textColorDark;
        padding-top: 64px;
        @media screen and (max-width: 768px) {
            padding-top: 40px;
        }
    }

    .no-goal-section {
        margin: 60px 0 60px 0;
        text-align: center;
    }




    //Section one Goal Progress
    .progress-wrapper {
        .content {
            text-align: center;
        }
        background: $lightGrey;
        &.overview-wrapper {
            padding: 0px 40px 64px 40px;
            @media screen and (max-width: 767px) {
                padding: 0px 24px 40px 24px;
            }
            @media screen and (max-width: 480px) {
                padding: 0px 16px 40px 16px;
            }
        }
    }

    // My Plan
    .my-plan-wrapper {
        background: $white;

        hr {
            height: 2px;
            border: 0px;
            margin-bottom: 25px;
        }

        .saving-indicator {
            font-size: 16px;
            margin-top: 20px;
        }

        label {
            display: block;
            margin: 20px 0 7px 0;
            font-weight: bold;
            font-size: 13px;
        }

        .sub-title {
            font-size: 26px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                padding: 0 0 20px 0;
            }
        }

        .action-steps-list {
            margin-right: -46px;
        }

        .plan-example {
          font-size: 12px;
          color: #979797;
          margin: 5px 0 10px 0;
          font-style: italic;
        }

        .icon-plus-circle {
            display: block;
            width: 25px;
            height: 25px;
        }

        .plan {
            max-width: 670px;
            margin: 0 auto;
            text-align: left;
        }

        .plan-item-list {
            margin-top: 15px;

            .plan-item{
                padding: 0 0 0 28px;
                margin-bottom: 10px;
            }

            .plan-item-content-wrapper {
                padding-right: 72px;
            }
        }

        .action-step {
            position: relative;
        }

        .checkmark-label {
            float: right;
        }

        .checkmark {
            position: absolute;
            right: -30px;
            top: 18px;
            display: block;
            width: 20px;
            height: 20px;
            padding-left: 4px;
            padding-right: 4px;
            border: 2px solid $textColorDark;
            &.completed {
                .checkmark-icon {
                    opacity: 1;
                }
            }
        }

        .checkmark-icon {
            opacity: 0;
            display: block;
            width: 16px;
            height: 16px;
            margin-left: -3px;
        }

        .add-action-step {

            &:not( .disabled-during-save ){
                cursor: pointer;
            }

            .icon-plus-circle {
                float: left;
                margin-right: 7px;
            }

            .txt {
                display: inline-block;
                padding-top: 6px;
                padding-bottom: 8px;
                font-weight: 700;
            }

        }

        .add-plan-set {
            cursor: pointer;
            padding: 0 0 56px 10px;
            margin-top: 10px;
            @media screen and (max-width: 768px) {
                padding-bottom: 40px;
                margin-left: 20px;
            }
            .icon-plus-circle {
                float: left;
                margin-right: 7px;
            }

            .txt {
                display: block;
                padding-top: 6px;
                padding-bottom: 8px;
                font-weight: 700;
            }

        }
        .pax-progress-my-plan-controls {
            margin-top: 20px;

            .save-area {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                flex-direction: row;

                .btn-pax-progress-plan-action {
                    margin: 20px 0 10px 0;
                }

                @media screen and (max-width: 768px) {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column-reverse;

                }

            }
        }

        .disabled-during-save {
            cursor: not-allowed;
        }
        .pax-progress-save-pill-bar {
            padding-top: 0px;
            height:auto;
            span {
                padding: 10px 40px;
            }
            @media screen and (max-width: 399px) {
                padding: 5px 20px;
                margin: 10px;
            }
        }

        .btn-pax-progress-plan-action {
            position: relative;
            margin: 0 4px;
            right: 0;
            padding: 0 12px;
            font-size: 16px;
            line-height: 28px;
            font-weight: bold;
            border-radius: 5px;
            border: none;
            @media screen and (max-width: 500px) {
                left: 0;
            }

            &.btn-danger {
                color: #df4f71;
                &.active {
                    background: #df4f71;
                }
            }

            &.active {
                cursor: pointer;
                color: #fff;
                background: #44c9fb;
            }

            &.disabled {
                color: $textColorDark;
            }
        }



        .gq-input.my-plan-input:disabled {
            background: #e6e6e6;
        }

        .alert-msg {
            width: 100%;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
            margin-top: 60px;
            color:$white;
            background: $red;

            h2 {
                font-size: 56px;
                font-weight: 700;
            }

            h4 {
                font-size:24px;
            }
        }

    }
    // Rules
    .rules-wrapper {

        h2 {
            font-size: 26px;
            font-family: $roboto;
            color: $greyDark;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-weight: 700;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        &.mountain { background: url( ../../../assets/img/themes/default/bg-welcome6-small.jpg ) no-repeat 50% 50% / cover fixed; }

        .content {
            padding: 64px 24px 0 24px;
            @media screen and (max-width: 768px) {
                padding: 40px 16px 0 16px;
            }
        }

        .export-container .download-icon {
            svg {
                fill: $white;
            }
        }

        p {
            font-size: 16px;
            font-weight: 700;
            font-family: $roboto;
            color: $textColorDark;
        }

        .rules-container {
            color: $greyDark;
            width: 100%;
        }
    }



    /// extrtas
    .oops
     {
        color: $blueMid;
    }

    .forgot {
        color: black;
    }

    .forgot-subtext {
        color: $greyMid;
    }
    // Form fields
    .input-group {
        width: 100%;
        margin-bottom: 5px;
    }

    // +++++++++++++++++++++++++++++\\\\\\\\\\\\\\\\\\\\\\++++++++++++++++++++++++++
    //                   FIELD TYPE STYLES
    // +++++++++++++++++++++++++++++++++++++++++++++++++++++++
    .text-field {
        display: block;
        width: 100%;
        padding: 10px 10px;
        font-size: 18px;
        line-height: 1.33333;
        border-radius: 6px;
        box-shadow: none;
    }

    .oops {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .forgot {
        font-size: 24px;
    }

    .forgot-subtext {
        font-size: 18px;
    }


}
