@import '../../mixins';
@import '../../variables';
  /* Header */
.dashboard-tile-header {
        position: relative;
        width: 100%;
        height: 113px;
        border-radius: 10px 10px 0 0;
        background: $white;
        overflow: hidden;

    .dashboard-tile-header-image {
        position: absolute;

        z-index: 0;
        width: 100%;
        max-width: 890px;
        height: 113px;
        border-radius: 10px 10px 0 0;
        background: url('~app/assets/img/themes/default/dashboard_header_bg_small.jpg') no-repeat 50% 50%;
        background-size: cover;
        overflow: hidden;
        top: 0;

        @media screen and (max-width: 890px) {
            background: url('~app/assets/img/themes/default/dashboard_header_bg.jpg') no-repeat 50% 50%;
        }

        @media screen and (max-width: 480px) {
            background: url('~app/assets/img/themes/default/dashboard_header_bg_small.jpg') no-repeat 50% 50%;
        }
    }

    .header-logo {
        position: absolute;
        z-index: 2;
        left: 40px;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        max-width: 80px;
        max-height: 80px;
        background: #FFFFFF;
        padding: 12px;
        @include animation('fadein 1s 1');
        img {
          max-width: 48px;
          max-height: 48px;
          @include animation('fadein 1s 1');
        }
        @media screen and (max-width: 767px) {
            left: 24px;
        }
    }

  /* END Header */

  /*Overlay */
    .dashboard-tile-header-overlay {

        .overlay {
            position: absolute;
            z-index: 2;
            top: 0px;
            border-radius: 10px 10px 0 0;
            left: 0;
            width: 100%;
            height: 113px;
            background: #555555;
            opacity: .6;
            &.red {
                background: $dashboard-red;
            }
            @include animation('fadein 1s 1');
        }

        .overlay-container {
            width: 100%;
            height: 113px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            z-index: 99;
            position: relative;
            opacity: 1;
            @include animation('fadein 1s .2');

            .overlay-copy {
                color: #FFFFFF;
                font-family: $roboto;
                font-weight: 400;
                font-size: 16px;
                display: flex;
                align-items: center;
            }

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #FFF;
                margin-right: 16px;
                display: flex;
                align-items: center;
                @include animation('fadein 1s .7');
                svg {
                    stroke: none;
                    fill: $dashboard-text-color;
                    width: 28px;
                    height: 28px;
                    margin-left: 10px;
                }
                &.red {
                    svg {
                        stroke: $dashboard-red;
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
