@import '../../variables';
.days-left-counter-container {

    .days-left-counter {
        position: absolute;
        z-index: 5;
        top: 97px;
        right: 40px;
        background: $dashboard-white;
        max-height: 30px;
        border-radius: 10px 10px 0 0;
        padding: 4px 8px 8px 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        justify-content: flex-start;

        img {
            margin-top: 10px;
        }

        @media screen and ( max-width: 767px ) {
            right: 24px;
        }

        .icon {
            display: inline-flex;

            svg {
                width: 24px;
                height: 24px;
            }

            &.final {
                margin-right: 5px;

                svg {
                    margin-top: 5px;
                    stroke: #000;
                    width: 16px;
                    height: 10px;
                    stroke-width: 5px;
                    fill: none;
                }
            }


            &.warning {
                svg {
                    fill: $dashboard-red;
                }
            }

            &.last-day {
                svg {
                    width: 15px;
                    height: 22px;
                    stroke: $dashboard-red;
                    stroke-width: 3px;
                }
            }

        }

        .days {
            font-family: $robotoSlab;
            font-weight: 700;
            font-size: 26px;
            margin: 0 0 0 5px;
            display: inline-flex;
            span {
                vertical-align: middle;
            }



            &.warning {
                color: $dashboard-red;
            }

            &.lastday {
                font-family: $robotoSlab;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 400;
                max-width: 140px;
                display: inline-flex;

            }
        }

        .description {
            font-family: $roboto;
            font-size: 11px;
            font-weight: 700;
            padding: 0 0 0 5px;
            display: inline-flex;
            div, span, p {
                vertical-align: top;
            }
            &.final, &.waitingForFinal {
                padding: 5px 0 0 5px;
            }

            &.date {
                display: inline-flex;
                margin-left: 5px;
                font-weight: 700;
            }

            &.closes {
                font-size: 10px;
            }
        }
    }
}