@import '../../framework/scss/variables';
.overview-content {
    text-align: left;
    .change-level-button {
        padding: 20px 40px;
        border-radius: 5px;
        min-width: 200px;
        margin-top: 20px;
    }
    .divider {
        border-top: 1px solid #d6d6d6;
        height: 1px;
        background: #d6d6d6;
        position: relative;
        margin: 40px 0 0px 0;
        @media screen and ( max-width: 767px ) {
            margin-top: 20px;
        }
    }

    .info-header {
        width: 50%;
    }

    .level-description {
        margin-bottom: 40px;
        @media screen and ( max-width: 767px ) {
            margin-bottom: 20px;
        }
    }

    .info-desc {
        font-weight: 700;
        font-family: 'Roboto Slab';
    }
    .potential-award  {
        font-size: 42px;
        font-weight: 700;
        font-family: 'Roboto Slab', sans-serif;
        @media screen and ( max-width: 767px ) {
            font-size: 26px;
        }
    }
    .item-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        @media screen and ( max-width: 767px ) {
            flex-direction: column;
         }
    }
    .progress-info-item {
        padding: 0px 32px 0px 0px;
        &.progress-info-base-earning-item {
            padding-top: 40px;
        }
        &:last-child {
            padding-bottom: 0px;
        }

        &.progress-info-bonus-item {
            width: 100%;
        }

        &.potential-award {
            padding-bottom: 0;
        }

        h2 {
            font-size: 64px;
            padding-bottom: 10px;
            font-weight: 300;
            line-height: 1.5;
            @media screen and ( max-width: 767px ) {
                font-size: 32px;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 40px;
            line-height: 1.5;
            span {
                text-transform: uppercase;
                font-size: 16px;
                @media screen and ( max-width: 767px ) {
                    font-size: 13px;
                }
            }
            @media screen and ( max-width: 767px ) {
                margin-top: 20px;
            }
        }

        h4 {
            font-size: 26px;
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 400;
            line-height: 1.5;
            @media screen and ( max-width: 767px ) {
                font-size: 16px;
            }
            span {
                .goal-label-amount, .goal-label-currency-symbol, .progress-goal-award-amount, .goal-label, span {
                    font-weight: 700;
                }

                .level-description {
                    font-family: 'Roboto Slab', $roboto;
                    font-weight: 400;
                }

            }

        }
        h5 {
            .goal-label-amount, .goal-label-currency-symbol, .progress-goal-award-amount, .level-description {
                font-weight: 400;
            }
            &.goal-per-period {
                line-height: 1.5;
                font-size: 13px;
            }
        }
        &.progress-info-goal-overview-title {
            padding-bottom: 0px;
        }

    }

}
