//Dashboard
$dashboard-footer-bg: #f8f8f8;
$dashboard-footer-border-top: #e8e8e8 1px solid;
$dashboard-footer-button-color: #0c7eac;
$dashboard-footer-button-hover: #095e80;
$dashboard-level-color: #0c7eac;
$dashboard-text-color: #353a40;
$dashboard-text-light: #CCCCCC;
$white: #fff;
$dashboard-red: #c5021e;
$dashboard-green: #2a843c;
$dashboard-orange: orange;
$dashboard-yellow: #fcab53;
$dashboard-orange: orange;
$dashboard-grey: #CCCCCC;
$dashboard-light-grey: #efefef;
$dashboard-grey-medium: #747676;
$dashboard-white: #ffffff;
$dashboard-black: #000000;
$roboto: 'Roboto', sans-serif;
$robotoSlab: 'Roboto Slab', $roboto, sans-serif;
$font-size: 16px;