@import '../../variables';
@import '../../mixins';

.goal-overview-copy  {
    font-size: 13px;
    font-weight: 400;
    font-family: $roboto;
    display: inline-flex;
    flex-direction: column;
    padding-left: 84px;
    width: 100%;
}

/* Selected Goal Block */
.goal-overview-wrap {
    font-family: $roboto;
    display: inline-block;
    width: 100%;
    position: relative;

    .dashboard-list-item-wrapper.single & {
       width: 70%;
    }

    .goal-overview-icon-container {
        width: 70px;
        height: 70px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-35px);
        left: 0;
        .goal-overview-icon {
            display: inline-block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 15px 0 0 15px;
            background: $dashboard-light-grey;

            svg {
                stroke: $dashboard-text-color;
                stroke-width: 3px;
                fill: none;
                width: 35px;                                                                                                                                                                                                                                                                             width: 40px;
                height: 35px;
            }

            &.objectives {
                padding: 10px 0 0 10px;

            svg {
                fill: $dashboard-text-color;
                stroke: none;
                stroke-width: 0;
                width: 50px;
                height: 50px;
            }
            }
        }
    }
    .goal-overview-name {
        color: $dashboard-level-color;
        padding: 5px 0 5px 0;
        font-size: 26px;
        font-weight: 700;
    }

    .goal-overview-description {
        font-size: 16px;
        font-weight: 400;
        padding: 5px 0 5px 0;
        &.is-objectives {
            color: $dashboard-level-color;
            font-weight: 700;
            font-size: 26px;
        }
    }

    .by-date {
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        display: block;
        color: $dashboard-text-color;
        padding-top: 5px;
        &.is-objectives {
            font-size: 16px;
        }
    }
}