.manager-progress {

    @media screen and ( max-width: 1170px ) {
        .chart-container{
            margin-right: 5%;
        }
    }


    @media screen and ( max-width: 1089px ) {
        .goal-progress-details {
            text-align: left;
            .progress-info {
                margin-bottom: 24px;
            }

        }
    }


     @media screen and (max-width: 480px){
        .goal-progress-details {
            width: 100%;
            text-align: left;
        }

        .rules-dropdowns {
           max-width: 100%;
        }

        .content-wrap,
        .rules-dropdown {
            max-width: 100%;
        }

        .dropdown,
        .rules-link {
            text-align: left;
        }
     }


     @media screen and (max-width: 480px) {
        .dropdown,
        .rules-link {
            width: 100%;
        }
     }


     @media screen and (max-width: 390px) {
       .goal-progress-details {
           text-align: left;
         h3 {
           font-size: 13px;
         }
       }
     }
}

.progress-by-participant {
    @media screen and (max-width: 960px) {
      .filter-dropdown-wrap {
        display: block;
        width: 310px;
        margin: 6px 0;
      }
    }

    @media screen and (max-width: 480px) {
      .mobile-progress-table {
        td,
        .unit-label {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    @media screen and (max-width: 400px) {
        h3 {
          font-size: 19px;
        }
    }
}