@import '../../framework/scss/variables';
$headerHeight: 200px;
$pillbarHeight: 50px;

.manager-progress {
    section {
        &.shop-wrapper {
            padding-top: 64px;
            @media screen and (max-width: 767px) {
                padding-top: 40px;
            }
        }
        &:first-of-type {
            padding: 64px 0 0px;
            @media screen and (max-width: 767px) {
                padding: 40px 0 0;
            }
        }
    }

    .progress-data {
        color: $greyDark;
        background-color: $lightGrey;
    }

    .progress-info {
        margin-bottom: 40px;
        h3 {
            font-weight: 400;
        }
    }

    .program-dates {
        font-size: 16px;
        text-transform: uppercase;
        @media screen and ( max-width: 799px ) {
            font-size: 13px;
         }
    }

    .date-range {
        font-weight: bold;
    }

    .chart-container {
        position: relative;
        overflow: visible;

        canvas {
            display: block;
            width: 100%;
            visibility: visible;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: visible;
        }
    }

    .progress-details {
        padding: 40px 0 0 0;
        background-color: $lightGrey;
        color: $greyDark;
        .progress-details-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

        }
        @media screen and (max-width: 767px) {
            padding: 40px 0 40px 0;
        }
    }

    .goal-progress-details {
        vertical-align: top;
        text-align: left;

        h3 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 300;
            @media screen and ( max-width: 768px ) {
                font-size: 13px;
             }
        }

        p {
            margin: 18px 0 50px;
            font-size: 18px;
            line-height: 24px;
        }

        .progress-count {
            font-size: 89px;
            font-weight: 700;
            font-family: 'Roboto Slab', $roboto;
            @media screen and ( max-width: 799px ) {
               font-size: 50px;
            }
        }

        .progress-pct {
            margin-left: 20px;
            font-size: 55px;
            font-weight: 700;
            font-family: 'Roboto Slab', $roboto;
            @media screen and ( max-width: 799px ) {
                font-size: 30px;
             }
        }

        .gq-btn {
            width: 260px;
            margin: 0;
        }

        .content-wrap {
            max-width: 100%;
        }
    }

    .no-goal-count {
        font-size: 50px;
        font-family: 'Roboto Slab', $roboto;
        margin-bottom: 24px;
        @media screen and ( max-width: 767px ) {
            font-size: 30px;
         }
    }

    .rules-dropdowns {
        max-width: 404px;
    }

    .dropdown,
    .rules-link {
        position: relative;
        line-height: 42px;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        z-index: 1;

        &:first-child {
            z-index: 2;
        }

        &:focus {
            outline: none;
        }

        .icon {
            position: absolute;
            right: 0;
            bottom: 26px;
            width: 12px;
            height: 12px;
        }
    }

    .dd-label,
    .rules-link {
        position: relative;
        font-weight: bold;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .dropdown-list {
        position: absolute;
        display: none;
        width: 100%;
        box-shadow: 0px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
        background: #FFFFFF;

        &.is-open {
            display: block;
        }

        li {
            padding: 0 16px;
            font-weight: bold;
            list-style-type: none;
        }
    }

    .pax-plan-modal {
     max-height: 50%;
        overflow: auto;

        h4 {
            text-align: center;
        }

        .avatar {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin-right: 8px;
            border-radius: 22px;
            overflow: hidden;
            vertical-align: middle;

            img {
                width: 100%;
            }

            p {
                font-size: 18px;
                line-height: 44px;
            }
        }

        .pax-name {
            display: inline-block;
            height: 44px;
            line-height: 44px;
            vertical-align: middle;;
        }

        .pax-plan-set {
            padding-top: 32px;
            border-bottom: 1px solid #ccc;

            &:last-child {
                border: none;
            }
        }

        .title {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-left: 4px;
            vertical-align: bottom;
        }

        .description {
            margin-bottom: 32px;
        }
    }

.progress-by-participant {
    margin: 0 auto;
    padding: 70px 0 54px;
    text-align: center;

    h3 {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: bold;
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 18px;
        text-transform: uppercase;
        @media screen and (max-width: 767px) {
            font-size: 13px;
        }
    }

    .tab-panel {
        max-width: 1170px;
        margin: 0 auto;
        text-align: left;

        .tabs {
            display: inline;
            border-bottom: 1px #cccccc solid;

            li {
                display: inline-block;
                padding: 0 16px;
                font-weight: bold;
                line-height: 44px;
                cursor: pointer;
                transition: all 300ms ease;
                background: $white;

                &.active {
                    cursor: default;
                    border-bottom: 10px solid $greyDark;
                }
            }
        }

        .filter-wrap {
            padding: 12px 16px 16px 16px;
        }
    }

    .data-table {
        td {
            span {
                font-weight: 400;
            }
            .bold {
                font-weight: 700;
            }
        }
        .manger-table--goal-label {
            .goal-label-amount {
                font-weight: 700;
                &:after {
                    content:"\a";
                    white-space: pre;
                }
            }
            .goal-label-text {
                font-size: 14px;
            }
        }
    }

    .org-table {
        .mobile-progress-table {
            td {
                .icon {
                    margin-right: 12px;
                    vertical-align: middle;
                }
            }
        }
    }

    .filter-wrap {
        padding: 12px 0 16px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.no-filters {
            min-height: 48px;
            .download-link {
               margin-left: auto;
               padding-right: 0;
        }
    }

    .filters {
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .filter-dropdown-wrap {
        margin-right: 20px;
    }

    .filter-dropdown-label {
        display: inline-block;
        margin-right: 8px;
        font-weight: bold;
    }

    .filter-dropdown {
        display: inline-block;
        position: relative;
        width: 100px;
        vertical-align: middle;
        line-height: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &:first-child {
            z-index: 2;
        }

        &:focus {
            outline: none;
        }

        .icon {
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 12px;
            height: 12px;
        }
    }

    .filter-dd-selected {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 12px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .filter-dropdown-list {
        position: absolute;
        margin-top: -1px;
        min-width: 100%;
        max-height: 400px;
        padding: 6px 0;
        overflow: auto;
        box-shadow: 0 0 18px 0 rgba( 0, 0, 0, 0.23 );
        z-index: 1;
        opacity: 0;
        display: none;

        &.is-open {
            display: block;
            margin-top: -1px;
        }

        li {
            padding: 0 16px;
            line-height: 30px;
        }

        .status {
            display: inline-block;
            position: relative;
            top: 1px;
            width: 14px;
            height: 14px;
            margin-right: 6px;
            border-radius: 7px;
        }
    }

    .ani-dd-list-enter {
        opacity: 0.01;
        transform: translateY( -25px );
        display: block;
    }

    .ani-dd-list-enter.ani-dd-list-enter-active {
        opacity: 1;
        transform: translateY( 0px );
        transition: all 200ms ease;
        display: block;
    }

    .ani-dd-list-enter-done {
        opacity: 1;
        display: block;
    }

    .ani-dd-list-exit {
        transform: translateY( 0px );
        opacity: 1;
        display: block;
    }

    .ani-dd-list-exit.ani-dd-list-exit-active {
        opacity: 0.01;
        transform: translateY( -25px );
        transition: all 200ms ease;
        display: block;
    }

    .ani-dd-list-exit-done {
        opacity: 0;
    }
}

    .breadcrumbs {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;

        .separator {
            margin: 0 8px;
        }

        &.nopacity {
            opacity: 0;
        }
    }

    table {
        margin-bottom: 20px;
    }

    .status-col {
        padding: 18px 20px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    td,
    .status-cell {
        .status {
            width: 38px;
            height: 38px;
            margin: 0 auto 8px;
            border-radius: 19px;
        }
    }

    .status-cell {
        display: inline-block;
        width: 120px;
        font-size: 14px;
        text-align: center;
    }

    .mobile-progress-table {
        max-width: 768px;

        tbody {
            tr:first-child {
                cursor: pointer;

                &:hover {
                    background: rgba( 255, 255, 255, 0.75 );
                }
            }
        }

        .details {
            td {
                border: none;
                span {
                    line-height: 1.5
                }
            }
        }

        .collapsed {
            .details {
                display: none;
            }
        }

        .expanded {
            .details {
                display: table-row;
            }

            .icon {
                transform: rotate( 135deg );
            }
        }

        td {
            .icon {
                display: table-cell;
                width: 25px;
                height: 25px;
                vertical-align: middle;
                transition: all 300ms ease;
            }
        }

        .org-unit-cell {
            > span {
                display: table-cell;
                vertical-align: middle;
            }

            a {
                display: table-cell;
                vertical-align: middle;
                padding-left: 10px;
            }
        }

        ul {
            list-style-type: none;
        }

        .unit-label {
            display: inline;
            font-size: 16px;

            &::before {
                content: ', ';
            }
        }
    }

    .avatar-wrap,
    .participant-info {
        display: table-cell;
        vertical-align: middle;
    }

    .avatar {
        width: 38px;
        height: 38px;
        vertical-align: bottom;
        border-radius: 19px;
        overflow: hidden;
        font-size: 14px;
        font-weight: bold;
        line-height: 38px;
        text-align: center;
        background: $greyLight;

        img {
            width: 100%;
        }
    }

    .participant-info {
        padding-left: 10px;
    }

    .participant-name {
        font-weight: bold;
        line-height: 1.2;
    }

    .participant-org-info {
        font-size: 14px;
    }

    .unit-label {
        display: block;
        font-size: 14px;
    }

    .row-count {
        text-align: center;
    }

    .download-link {
        float: right;
    }

    .no-rows-found-wrapper{
        padding:60px 0 20px;
    }

}
.manager-progress {
    h1 {
        color: $greyDark;
    }

    .dropdown-list {
        background-color: $white;

        li {
            color: $greyDark;
        }
    }

    .dd-label,
    .rules-link {
        border-color: #cccccc;
    }

    .avatar {
        color: $white;
        background-color: $greyLight;
    }

    .pax-plan-modal {
        .icon {
            fill: $greyDark;
        }
    }
}

.progress-by-participant {
    color: $greyDark;
    background-color: #ffffff;

    h3 {
        color: $greyDark;
        text-transform: uppercase;
    }

    .tab-panel {
        .filter-wrap {
            background-color: $white;
            border-top: 1px solid #cccccc;
        }

        .tabs {
            border-bottom: 1px solid $greyLight;
            li {
                color: $greyDark;
                background-color: $white;

                &:hover {
                    color: $greyDark;
                }

                &.active {
                    color: $greyDark;
                    background-color: $white;
                }
            }
        }
    }

    .filter-dropdown-list {
        background-color: $white;
        border: 1px solid #cdcdcd;

        .icon {
            fill: $greyDark;
        }

        li {
            &:hover {
                background-color: $white96;
            }
        }
    }

        .filter-dd-selected {
            border-color: #ccc;
        }

        .get-going {
            background-color: $getGoing;
        }

        .stay-focused {
            background-color: $stayFocused;
        }

        .sorta {
            background-color: $sorta;
        }

        .on-track {
            background-color: $onTrack;
        }

        .made-it {
            background-color: $achieved;
        }
    }
}
@import 'media-queries';
